 * {
     margin: 0;
    padding: 0;
}

body {
      background-color: gray;
}

p {
left: 10%;
top: 20%;
position: absolute;
color: #fff;
font-size: 1.2em;
font-weight: 150;
  width: 400px;
  border: 15px solid lightgray;
  padding: 50px;
  margin: 20px;

}

img {
right: 5%;
top: 10%;
position: absolute;
     border: 15px solid lightgray;
  padding: 50px;
  margin: 20px;
}

header {
    color: #fff;
    left: 50%
    display: block;
  background-color: gainsboro;
 list-style-type: none;
    text-align: center;
}
nav {
    display: block;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
    font-size: 1.3em;
}
a {
  display: inline;
  padding: 1vw 4vw;
  background-color: gainsboro;
border-right: 2px solid black;
}
a:last-child {
  border-right: none;
}
a:hover {
  background-color: royalblue;
}
