 * {
     margin: 0;
    padding: 0;
}

body {
      background-color: gray;
}

p {
left: 30%;
top: 60%;
position: absolute;
color: #fff;
font-size: 2em;
font-weight: 150;
}

img {
right: 30%;
top: 50%;
position: absolute;
}

header {
    color: #fff;
    left: 50%
    display: block;
  background-color: gainsboro;
 list-style-type: none;
    text-align: center;
}
nav {
    display: block;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
    font-size: 1.3em;
}
a {
  display: inline;
  padding: 1vw 4vw;
  background-color: gainsboro;
border-right: 2px solid black;
}
a:last-child {
  border-right: none;
}
a:hover {
  background-color: royalblue;
}



.fly-in-text {
list-style: none;
position: absolute;
left: 50%;
top: 30%;
transform: translateX(-50%) translateY(-50%);
}

.fly-in-text li {
display: inline-block;
margin-right: 50px;
font-family: Open Sans, Arial;
font-weight: 300;
font-size: 4em;
color: #fff;
opacity: 1;
transition: all 2.5s ease;
}

.fly-in-text li:last-child {
margin-right: 0;
}

.fly-in-text.hidden  {
opacity: 0;
            }

.fly-in-text.hidden li:nth-child(1) { transform: translateX(-200px) translateY(-200px); }
.fly-in-text.hidden li:nth-child(2) { transform: translateX(20px) translateY(100px); }
.fly-in-text.hidden li:nth-child(3) { transform: translateX(-150px) translateY(-80px); }
.fly-in-text.hidden li:nth-child(4) { transform: translateX(10px) translateY(-200px); }
.fly-in-text.hidden li:nth-child(5) { transform: translateX(-300px) translateY(200px); }
.fly-in-text.hidden li:nth-child(6) { transform: translateX(20px) translateY(-20px); }
.fly-in-text.hidden li:nth-child(7) { transform: translateX(30px) translateY(200px); }
