* {
     margin: 0;
    padding: 0;
}

body {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%)fixed;
  filter: drop-shadow(0 0 5px white);
}
.column {
  float: left;
  width: 50%;

}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.dropbtn {
  background-color: gainsboro;
    left: 50%;
    display: block;
 list-style-type: none;
    text-align: center;
    font-size: 1em;
    border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
      padding-left: 2rem;

}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
background-color: #1b2735;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}
 .dropdown-content a:hover {background-color: darkblue;}
.dropdown:hover .dropdown-content {display: block;}


h2{
top: 10%;
position: relative;
color: #fff;
font-size: 3em;
text-align: center;

}
#text1 {
top: 10rem;
position: relative;
color: #fff;
font-size: 1.3em;
width: 500px;
}

#læring1 {
top: 10rem;
position: relative;
color: #fff;
font-size: 1.3em;
width: 500px;
}

header {
    color: #fff;
    left: 50%;
    display: block;
  background-color: gainsboro;
 list-style-type: none;
    text-align: center;
}
nav {
    display: block;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
    font-size: 2em;

}
a {
  display: inline;
  padding: 1vw 4vw;
  font-family: Open Sans, Arial;
  color: #fff;    
}
a:link {
  text-decoration: none;
}

#hidden {
left: 2rem;
position: relative;
color: #fff;
font-size: 1.3em;
width: 500px;
top: 10rem;
display: block;
text-decoration: none;
width: 500px;
display: block;
}
#hidden2 {
left: 2rem;
position: relative;
color: #fff;
font-size: 1.3em;
width: 500px;
top: 18rem;
display: block;
}
#hid {
left: 4rem;
position: relative;
color: #fff;
font-size: 1.4rem;
width: 500px;
}
#hid2 {
left: 4rem;
position: relative;
color: #fff;
font-size: 1.4rem;
width: 500px;
}

a:last-child {
  border-right: none;
}
a:hover {
  background-color: darkblue;
}
.hidden {
    opacity: 0%
}

#tema1 {
top: 5rem;
position: relative;
color: #fff;
font-size: 3em;
text-align: center;
}
#tema1_pic {
top: 10rem;
left: 4rem;
position: relative;
}
#læring {
top: 12rem;
left: 2rem;
position: relative;
color: #fff;
font-size: 1.3em;
width: 500px;
}

#text5 {
top: 10rem;
position: relative;
color: #fff;
font-size: 1.3em;
width: 500px;
}
#lært {
top: 14rem;
position: relative;
color: #fff;
font-size: 1.3em;
width: 500px;    
}

#tema2 {
top: 5rem;
position: relative;
color: #fff;
font-size: 3em;
text-align: center;
}
#lært2 {
top: 13rem;
position: relative;
color: #fff;
font-size: 1.3em;
width: 500px;    
}
#pic1 {
color: #fff;
font-size: 1.3em;
 top: 8rem;
    position: relative;
width: 500px;
}
#pic2 {
color: #fff;
font-size: 1.3em;
 top: 15rem;
 position: relative;
width: 500px;
}
#img1 {
    width: 500px;
}
#img2 {
    width: 500px;
}

#tema3 {
top: 5rem;
position: relative;
color: #fff;
font-size: 3em;
text-align: center;
}
#text2 {
top: 10rem;
position: relative;
color: #fff;
font-size: 1.3em;
width: 490px;
}
#læring2 {
top: 11rem;
position: relative;
color: #fff;
font-size: 1.3em;
width: 500px;
}
#lært3 {
top: 15rem;
position: relative;
color: #fff;
font-size: 1.3em;
width: 500px;    
}

#ide {
top: 10rem;
position: relative;
color: #fff;
font-size: 3em;
text-align: center;
left: 2rem;

}

#proto {
top: 15rem;
position: relative;
color: #fff;
font-size: 3em;
text-align: center;
left: 2rem;
}

#pitch {
top: 20rem;
position: relative;
color: #fff;
font-size: 3em;
text-align: center;
left: 2rem;
}

#tema4 {
top: 5rem;
position: relative;
color: #fff;
font-size: 3em;
text-align: center;
}
#text3 {
top: 10rem;
position: relative;
color: #fff;
font-size: 1.3em;
width: 500px;
}
#læring3 {
top: 12rem;
position: relative;
color: #fff;
font-size: 1.3em;
width: 500px;
}
#lært4 {
top: 15rem;
position: relative;
color: #fff;
font-size: 1.3em;
width: 500px;    
}

#asset {
top: 10rem;
position: relative;
font-size: 3em;
text-align: center;
left: 2rem;
}

#anima {
top: 15rem;
position: relative;
font-size: 3em;
text-align: center;
left: 2rem;
}

#tema5 {
top: 5rem;
position: relative;
color: #fff;
font-size: 3em;
text-align: center;
}
#text4 {
top: 10rem;
position: relative;
color: #fff;
font-size: 1.3em;
width: 500px;
}

#læring4 {
top: 12rem;
position: relative;
color: #fff;
font-size: 1.3em;
width: 500px;
}
#lært5 {
top: 15rem;
position: relative;
color: #fff;
font-size: 1.3em;
width: 500px;    
}
#vid {
top: 10rem;
position: relative;
font-size: 3em;
text-align: center;
left: 2rem;
width: 500px;
height: 300px;
}

#des {
top: 15rem;
position: relative;
font-size: 3em;
text-align: center;
left: 2rem;
}

#link {
top: 1rem;
position: relative;
font-size: 1em;
text-align: center;
}
#text6 {
    top: 10rem;
    position: relative;
    color: #fff;
    font-size: 1.3em;
    width: 500px;
    left: 10rem;
}
    #læring5 {
    top: 12rem;
    position: relative;
    color: #fff;
    font-size: 1.3em;
    width: 500px;
    left: 10rem;
}
#lært6 {
top: 15rem;
position: relative;
color: #fff;
font-size: 1.3em;
width: 500px; 
left: 10rem;    
}
#pic9 {
color: #fff;
font-size: 1.3em;
 top: 10rem;
    position: relative;
width: 500px;
    left: 2rem;
}

#Tema6 {
top: 5rem;
position: relative;
color: #fff;
font-size: 3em;
text-align: center;
}

#btp1 {
top: 15rem;
position: relative;
font-size: 1em;
text-align: center;
left: 30%;
}

#tnp1 {
   top: 15rem;
position: relative;
font-size: 1em;
text-align: center;
left: 50%;
}

#tpp1 {
    top: 15rem;
position: relative;
font-size: 1em;
text-align: center;
left: 10%;
}
#btp2 {
top: 15rem;
position: relative;
font-size: 3em;
text-align: center;
left: 30%;
}

#tnp2 {
   top: 15rem;
position: relative;
font-size: 3em;
text-align: center;
left: 50%;

}

#tpp2 {
    top: 15rem;
position: relative;
font-size: 3em;
text-align: center;
left: 10%;
}
#btp2img {
width: 50px;
height: 50px;
}
#tnp2img {
width: 50px;
height: 50px;
}

#tpp2img {
width: 50px;
height: 50px;
}
#btp3 {
top: 25rem;
position: relative;
font-size: 3em;
text-align: center;
left: 30%;
}

#tnp3 {
   top: 25rem;
position: relative;
font-size: 3em;
text-align: center;
left: 50%;
}

#tpp3 {
    top: 25rem;
position: relative;
font-size: 3em;
text-align: center;
left: 5%;
}
#btp4 {
top: 25rem;
position: relative;
font-size: 3em;
text-align: center;
left: 30%;
}

#tnp4 {
   top: 25rem;
position: relative;
font-size: 3em;
text-align: center;
left: 50%;
}

#tpp4 {
    top: 25rem;
position: relative;
font-size: 3em;
text-align: center;
left: 5%;
}

#btp5 {
top: 25rem;
position: relative;
font-size: 3em;
text-align: center;
left: 30%;
}

#tnp5 {
   top: 25rem;
position: relative;
font-size: 3em;
text-align: center;
left: 50%;
}

#tpp5 {
    top: 25rem;
position: relative;
font-size: 3em;
text-align: center;
left: 5%;
}
#btp6 {
top: 25rem;
position: relative;
font-size: 3em;
text-align: center;
left: 30%;
}

#tnp6 {
   top: 25rem;
position: relative;
font-size: 3em;
text-align: center;
left: 40%;
}

#tpp6 {
    top: 25rem;
position: relative;
font-size: 3em;
text-align: center;
left: 5%;
}

@media only screen and (max-width:800px) {

    .row {
        column-count: 1;
        position: relative;
    }

    a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
    width: 150px;
}
    #tema1 {
    top: 5rem;
    position: relative;
    color: #fff;
    font-size: 3em;
    text-align: center;
}
    #text5 {
    top: 10rem;
    position: relative;
    color: #fff;
    font-size: 1.3em;
    width: 250px;
    left: -5rem;
}
    #læring {
    top: 13rem;
    left: -5rem;
    position: relative;
    color: #fff;
    font-size: 1.3em;
    width: 250px;
}
    #lært {
top: 14rem;
position: relative;
color: #fff;
font-size: 1.3em;
width: 250px; 
left: -5rem;    
}
#tema1_pic {
    top: 65rem;
    left: 2rem;
    position: relative;
    width: 300px;
    height: 400px;
}
    #tpp1 {
    font-size: 1em;
    text-align: center;
    top: 45rem;
    left: 1rem;
}
    #btp1 {
    font-size: 1em;
    text-align: center;
    top: 45rem;
    left: 4rem;
}
    #tnp1 {
    font-size: 1em;
    text-align: center;
    top: 45rem;
    left: 8rem;
}

    #tema2 {
    top: 5rem;
    position: relative;
    color: #fff;
    font-size: 3em;
    text-align: center;
}
    #text1 {
    top: 10rem;
    position: relative;
    color: #fff;
    font-size: 1.3em;
    width: 270px;
    left: -8rem;
}
    #læring1 {
    top: 10rem;
    position: relative;
    color: #fff;
    font-size: 1.3em;
    width: 270px;
    left: -7rem;
}
     #lært2 {
top: 14rem;
position: relative;
color: #fff;
font-size: 1.3em;
width: 250px; 
left: -7rem;    
}

 #pic1 {
    color: #fff;
    font-size: 1.3em;
    top: 70rem;
    position: relative;
    width: 300px;
    height: 400px;
    left: 1.5rem;
}
    #hid {
    left: 2rem;
    position: relative;
    color: #fff;
    font-size: 1.4rem;
    width: 250px;
}
   #hidden {
left: 3rem;
position: relative;
color: #fff;
font-size: 1.3em;
top: 96rem;
display: block;
text-decoration: none;
width: 210px;
}
    #pic2 {
    color: #fff;
    font-size: 1.3em;
    top: 72rem;
    position: relative;
    width: 300px;
    height: 400px;
    left: -10rem;
}
    #img1 {
    width: 300px;
}
#img2 {
    width: 300px;
}

#hidden2 {
left: -7rem;
position: relative;
color: #fff;
font-size: 1.3em;
width: 250px;
top: 69rem;
display: block;
}
    #hid2 {
    left: 2rem;
    position: relative;
    color: #fff;
    font-size: 1.4rem;
    width: 250px;
}
    #tpp2 {
    top: 80rem;
    position: relative;
    font-size: 3em;
    text-align: center;
    left: 1rem;
}
    #btp2 {
    top: 80rem;
    position: relative;
    font-size: 3em;
    text-align: center;
    left: 5rem;
}
    #tnp2 {
    top: 80rem;
    position: relative;
    font-size: 3em;
    text-align: center;
    left: 9rem;
}
#btp2img {
width: 40px;
height: 40px;
}
#tnp2img {
width: 40px;
height: 40px;
}

#tpp2img {
width: 40px;
height: 40px;
}

#text2 {
    top: 10rem;
    position: relative;
    color: #fff;
    font-size: 1.3em;
    width: 270px;
    left: -6rem;
}
#læring2 {
    top: 12rem;
    position: relative;
    color: #fff;
    font-size: 1.3em;
    width: 270px;
    left: -6rem;
}
    #lært3 {
top: 14rem;
position: relative;
color: #fff;
font-size: 1.3em;
width: 250px; 
left: -7rem;    
}
    #ide {
    top: 85rem;
    position: relative;
    color: #fff;
    font-size: 3em;
    text-align: center;
    left: 2rem;
    width: 300px;
    height: 400px;
}
    #proto {
    top: 90rem;
    position: relative;
    color: #fff;
    font-size: 3em;
    text-align: center;
    left: 2rem;
    width: 300px;
    height: 400px;
}
    #pitch {
    top: 95rem;
    position: relative;
    color: #fff;
    font-size: 3em;
    text-align: center;
    left: 2rem;
    width: 300px;
    height: 400px;
}
#tpp3 {
    top: 100rem;
    position: relative;
    font-size: 3em;
    text-align: center;
    left: 1rem;
}
#btp3 {
    top: 100rem;
    position: relative;
    font-size: 3em;
    text-align: center;
    left: 4rem;
}
#tnp3 {
    top: 100rem;
    position: relative;
    font-size: 3em;
    text-align: center;
    left: 7rem;
}

    #text3 {
    top: 10rem;
    position: relative;
    color: #fff;
    font-size: 1.3em;
    width: 270px;
    left: -8rem;
}
    #læring3 {
    top: 12rem;
    position: relative;
    color: #fff;
    font-size: 1.3em;
    width: 280px;
    left: -7rem;
}
    #lært4 {
top: 14rem;
position: relative;
color: #fff;
font-size: 1.3em;
width: 250px; 
left: -7rem;    
}
    #asset {
    top: 85rem;
    position: relative;
    font-size: 3em;
    text-align: center;
    left: 2rem;
    width: 300px;
    height: 400px
}
    #anima {
    top: 90rem;
    position: relative;
    font-size: 3em;
    text-align: center;
    left: 2rem;
     width: 300px;
    height: 400px
}
    #tpp4 {
    top: 80rem;
    position: relative;
    font-size: 3em;
    text-align: center;
    left: 1rem;
}
    #btp4 {
    top: 80rem;
    position: relative;
    font-size: 3em;
    text-align: center;
    left: 4rem;
}
    #tnp4 {
    top: 80rem;
    position: relative;
    font-size: 3em;
    text-align: center;
    left: 7rem;
}
#text4 {
    top: 10rem;
    position: relative;
    color: #fff;
    font-size: 1.3em;
    width: 270px;
    left: -8rem;
}
    #læring4 {
    top: 12rem;
    position: relative;
    color: #fff;
    font-size: 1.3em;
    width: 270px;
    left: -7rem;
}
    #lært5 {
top: 14rem;
position: relative;
color: #fff;
font-size: 1.3em;
width: 250px; 
left: -7rem;    
}
#vid {
    top: 110rem;
    position: relative;
    font-size: 3em;
    text-align: center;
    left: 2rem;
    width: 300px;
    height: 200px;
}
#des {
    top: 115rem;
    position: relative;
    font-size: 3em;
    text-align: center;
    left: 2rem;
    width: 300px;
    height: 400px;
}
    #tpp5 {
    top: 65rem;
    position: relative;
    font-size: 3em;
    text-align: center;
    left: 1rem;
}
    #btp5 {
    top: 65rem;
    position: relative;
    font-size: 3em;
    text-align: center;
    left: 4rem;
}
    #tnp5 {
    top: 65rem;
    position: relative;
    font-size: 3em;
    text-align: center;
    left: 7rem;
}
   #text6 {
    top: 10rem;
    position: relative;
    color: #fff;
    font-size: 1.3em;
    width: 270px;
    left: -8rem;
}
    #læring5 {
    top: 15rem;
    position: relative;
    color: #fff;
    font-size: 1.3em;
    width: 270px;
    left: -7rem;
}
     #lært6 {
top: 18rem;
position: relative;
color: #fff;
font-size: 1.3em;
width: 250px; 
left: -7rem;    
}
    #pic9 {
    color: #fff;
    font-size: 1.3em;
    top: 125rem;
    position: relative;
    width: 300px;
    left: 2rem;
}
    #tpp6 {
    top: 35rem;
    position: relative;
    font-size: 3em;
    text-align: center;
    left: 1rem;
}
    #btp6 {
    top: 35rem;
    position: relative;
    font-size: 3em;
    text-align: center;
    left: 4rem;
}



}
